<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="conda_environment_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="conda_environment" type="xstring" value="knime_test"/>
        <config key="included_packages">
            <config key="names">
                <entry key="array-size" type="xint" value="57"/>
                <entry key="0" type="xstring" value="abseil-cpp"/>
                <entry key="1" type="xstring" value="arrow-cpp"/>
                <entry key="2" type="xstring" value="aws-c-common"/>
                <entry key="3" type="xstring" value="aws-c-event-stream"/>
                <entry key="4" type="xstring" value="aws-checksums"/>
                <entry key="5" type="xstring" value="aws-sdk-cpp"/>
                <entry key="6" type="xstring" value="blas"/>
                <entry key="7" type="xstring" value="boost-cpp"/>
                <entry key="8" type="xstring" value="bottleneck"/>
                <entry key="9" type="xstring" value="bzip2"/>
                <entry key="10" type="xstring" value="c-ares"/>
                <entry key="11" type="xstring" value="ca-certificates"/>
                <entry key="12" type="xstring" value="gflags"/>
                <entry key="13" type="xstring" value="glog"/>
                <entry key="14" type="xstring" value="grpc-cpp"/>
                <entry key="15" type="xstring" value="intel-openmp"/>
                <entry key="16" type="xstring" value="libboost"/>
                <entry key="17" type="xstring" value="libbrotlicommon"/>
                <entry key="18" type="xstring" value="libbrotlidec"/>
                <entry key="19" type="xstring" value="libbrotlienc"/>
                <entry key="20" type="xstring" value="libcurl"/>
                <entry key="21" type="xstring" value="libevent"/>
                <entry key="22" type="xstring" value="libprotobuf"/>
                <entry key="23" type="xstring" value="libssh2"/>
                <entry key="24" type="xstring" value="libthrift"/>
                <entry key="25" type="xstring" value="lz4-c"/>
                <entry key="26" type="xstring" value="mkl"/>
                <entry key="27" type="xstring" value="mkl-service"/>
                <entry key="28" type="xstring" value="mkl_fft"/>
                <entry key="29" type="xstring" value="mkl_random"/>
                <entry key="30" type="xstring" value="numexpr"/>
                <entry key="31" type="xstring" value="numpy"/>
                <entry key="32" type="xstring" value="numpy-base"/>
                <entry key="33" type="xstring" value="openssl"/>
                <entry key="34" type="xstring" value="orc"/>
                <entry key="35" type="xstring" value="pandas"/>
                <entry key="36" type="xstring" value="pip"/>
                <entry key="37" type="xstring" value="py4j"/>
                <entry key="38" type="xstring" value="pyarrow"/>
                <entry key="39" type="xstring" value="python"/>
                <entry key="40" type="xstring" value="python-dateutil"/>
                <entry key="41" type="xstring" value="python-tzdata"/>
                <entry key="42" type="xstring" value="pytz"/>
                <entry key="43" type="xstring" value="re2"/>
                <entry key="44" type="xstring" value="setuptools"/>
                <entry key="45" type="xstring" value="six"/>
                <entry key="46" type="xstring" value="snappy"/>
                <entry key="47" type="xstring" value="sqlite"/>
                <entry key="48" type="xstring" value="tbb"/>
                <entry key="49" type="xstring" value="tzdata"/>
                <entry key="50" type="xstring" value="utf8proc"/>
                <entry key="51" type="xstring" value="vc"/>
                <entry key="52" type="xstring" value="vs2015_runtime"/>
                <entry key="53" type="xstring" value="wheel"/>
                <entry key="54" type="xstring" value="xz"/>
                <entry key="55" type="xstring" value="zlib"/>
                <entry key="56" type="xstring" value="zstd"/>
            </config>
            <config key="versions">
                <entry key="array-size" type="xint" value="57"/>
                <entry key="0" type="xstring" value="20211102.0"/>
                <entry key="1" type="xstring" value="11.0.0"/>
                <entry key="2" type="xstring" value="0.6.8"/>
                <entry key="3" type="xstring" value="0.1.6"/>
                <entry key="4" type="xstring" value="0.1.11"/>
                <entry key="5" type="xstring" value="1.8.185"/>
                <entry key="6" type="xstring" value="1.0"/>
                <entry key="7" type="xstring" value="1.82.0"/>
                <entry key="8" type="xstring" value="1.3.5"/>
                <entry key="9" type="xstring" value="1.0.8"/>
                <entry key="10" type="xstring" value="1.19.1"/>
                <entry key="11" type="xstring" value="2023.08.22"/>
                <entry key="12" type="xstring" value="2.2.2"/>
                <entry key="13" type="xstring" value="0.5.0"/>
                <entry key="14" type="xstring" value="1.48.2"/>
                <entry key="15" type="xstring" value="2023.1.0"/>
                <entry key="16" type="xstring" value="1.82.0"/>
                <entry key="17" type="xstring" value="1.0.9"/>
                <entry key="18" type="xstring" value="1.0.9"/>
                <entry key="19" type="xstring" value="1.0.9"/>
                <entry key="20" type="xstring" value="8.1.1"/>
                <entry key="21" type="xstring" value="2.1.12"/>
                <entry key="22" type="xstring" value="3.20.3"/>
                <entry key="23" type="xstring" value="1.10.0"/>
                <entry key="24" type="xstring" value="0.15.0"/>
                <entry key="25" type="xstring" value="1.9.4"/>
                <entry key="26" type="xstring" value="2023.1.0"/>
                <entry key="27" type="xstring" value="2.4.0"/>
                <entry key="28" type="xstring" value="1.3.8"/>
                <entry key="29" type="xstring" value="1.2.4"/>
                <entry key="30" type="xstring" value="2.8.4"/>
                <entry key="31" type="xstring" value="1.26.0"/>
                <entry key="32" type="xstring" value="1.26.0"/>
                <entry key="33" type="xstring" value="3.0.11"/>
                <entry key="34" type="xstring" value="1.7.4"/>
                <entry key="35" type="xstring" value="2.0.3"/>
                <entry key="36" type="xstring" value="23.2.1"/>
                <entry key="37" type="xstring" value="0.10.9.7"/>
                <entry key="38" type="xstring" value="11.0.0"/>
                <entry key="39" type="xstring" value="3.9.18"/>
                <entry key="40" type="xstring" value="2.8.2"/>
                <entry key="41" type="xstring" value="2023.3"/>
                <entry key="42" type="xstring" value="2023.3.post1"/>
                <entry key="43" type="xstring" value="2022.04.01"/>
                <entry key="44" type="xstring" value="68.0.0"/>
                <entry key="45" type="xstring" value="1.16.0"/>
                <entry key="46" type="xstring" value="1.1.9"/>
                <entry key="47" type="xstring" value="3.41.2"/>
                <entry key="48" type="xstring" value="2021.8.0"/>
                <entry key="49" type="xstring" value="2023c"/>
                <entry key="50" type="xstring" value="2.6.1"/>
                <entry key="51" type="xstring" value="14.2"/>
                <entry key="52" type="xstring" value="14.27.29016"/>
                <entry key="53" type="xstring" value="0.41.2"/>
                <entry key="54" type="xstring" value="5.4.2"/>
                <entry key="55" type="xstring" value="1.2.13"/>
                <entry key="56" type="xstring" value="1.5.5"/>
            </config>
            <config key="builds">
                <entry key="array-size" type="xint" value="57"/>
                <entry key="0" type="xstring" value="hd77b12b_0"/>
                <entry key="1" type="xstring" value="ha81ea56_2"/>
                <entry key="2" type="xstring" value="h2bbff1b_1"/>
                <entry key="3" type="xstring" value="hd77b12b_6"/>
                <entry key="4" type="xstring" value="h2bbff1b_2"/>
                <entry key="5" type="xstring" value="hd77b12b_1"/>
                <entry key="6" type="xstring" value="mkl"/>
                <entry key="7" type="xstring" value="h59b6b97_1"/>
                <entry key="8" type="xstring" value="py39h080aedc_0"/>
                <entry key="9" type="xstring" value="he774522_0"/>
                <entry key="10" type="xstring" value="h2bbff1b_0"/>
                <entry key="11" type="xstring" value="haa95532_0"/>
                <entry key="12" type="xstring" value="ha925a31_0"/>
                <entry key="13" type="xstring" value="hd77b12b_0"/>
                <entry key="14" type="xstring" value="hfe90ff0_1"/>
                <entry key="15" type="xstring" value="h59b6b97_46319"/>
                <entry key="16" type="xstring" value="hae598e9_1"/>
                <entry key="17" type="xstring" value="h2bbff1b_7"/>
                <entry key="18" type="xstring" value="h2bbff1b_7"/>
                <entry key="19" type="xstring" value="h2bbff1b_7"/>
                <entry key="20" type="xstring" value="h86230a5_0"/>
                <entry key="21" type="xstring" value="h56d1f94_1"/>
                <entry key="22" type="xstring" value="h23ce68f_0"/>
                <entry key="23" type="xstring" value="he2ea4bf_2"/>
                <entry key="24" type="xstring" value="h4364b78_2"/>
                <entry key="25" type="xstring" value="h2bbff1b_0"/>
                <entry key="26" type="xstring" value="h6b88ed4_46357"/>
                <entry key="27" type="xstring" value="py39h2bbff1b_1"/>
                <entry key="28" type="xstring" value="py39h2bbff1b_0"/>
                <entry key="29" type="xstring" value="py39h59b6b97_0"/>
                <entry key="30" type="xstring" value="py39h7b80656_1"/>
                <entry key="31" type="xstring" value="py39h055cbcc_0"/>
                <entry key="32" type="xstring" value="py39h65a83cf_0"/>
                <entry key="33" type="xstring" value="h2bbff1b_2"/>
                <entry key="34" type="xstring" value="h623e30f_1"/>
                <entry key="35" type="xstring" value="py39h4ed8f06_0"/>
                <entry key="36" type="xstring" value="py39haa95532_0"/>
                <entry key="37" type="xstring" value="py39haa95532_0"/>
                <entry key="38" type="xstring" value="py39h790e06d_1"/>
                <entry key="39" type="xstring" value="h1aa4202_0"/>
                <entry key="40" type="xstring" value="pyhd3eb1b0_0"/>
                <entry key="41" type="xstring" value="pyhd3eb1b0_0"/>
                <entry key="42" type="xstring" value="py39haa95532_0"/>
                <entry key="43" type="xstring" value="hd77b12b_0"/>
                <entry key="44" type="xstring" value="py39haa95532_0"/>
                <entry key="45" type="xstring" value="pyhd3eb1b0_1"/>
                <entry key="46" type="xstring" value="h6c2663c_0"/>
                <entry key="47" type="xstring" value="h2bbff1b_0"/>
                <entry key="48" type="xstring" value="h59b6b97_0"/>
                <entry key="49" type="xstring" value="h04d1e81_0"/>
                <entry key="50" type="xstring" value="h2bbff1b_0"/>
                <entry key="51" type="xstring" value="h21ff451_1"/>
                <entry key="52" type="xstring" value="h5e58377_2"/>
                <entry key="53" type="xstring" value="py39haa95532_0"/>
                <entry key="54" type="xstring" value="h8cc25b3_0"/>
                <entry key="55" type="xstring" value="h8cc25b3_0"/>
                <entry key="56" type="xstring" value="hd43e919_0"/>
            </config>
            <config key="channels">
                <entry key="array-size" type="xint" value="57"/>
                <entry key="0" type="xstring" value="pkgs/main"/>
                <entry key="1" type="xstring" value="pkgs/main"/>
                <entry key="2" type="xstring" value="pkgs/main"/>
                <entry key="3" type="xstring" value="pkgs/main"/>
                <entry key="4" type="xstring" value="pkgs/main"/>
                <entry key="5" type="xstring" value="pkgs/main"/>
                <entry key="6" type="xstring" value="pkgs/main"/>
                <entry key="7" type="xstring" value="pkgs/main"/>
                <entry key="8" type="xstring" value="pkgs/main"/>
                <entry key="9" type="xstring" value="pkgs/main"/>
                <entry key="10" type="xstring" value="pkgs/main"/>
                <entry key="11" type="xstring" value="pkgs/main"/>
                <entry key="12" type="xstring" value="pkgs/main"/>
                <entry key="13" type="xstring" value="pkgs/main"/>
                <entry key="14" type="xstring" value="pkgs/main"/>
                <entry key="15" type="xstring" value="pkgs/main"/>
                <entry key="16" type="xstring" value="pkgs/main"/>
                <entry key="17" type="xstring" value="pkgs/main"/>
                <entry key="18" type="xstring" value="pkgs/main"/>
                <entry key="19" type="xstring" value="pkgs/main"/>
                <entry key="20" type="xstring" value="pkgs/main"/>
                <entry key="21" type="xstring" value="pkgs/main"/>
                <entry key="22" type="xstring" value="pkgs/main"/>
                <entry key="23" type="xstring" value="pkgs/main"/>
                <entry key="24" type="xstring" value="pkgs/main"/>
                <entry key="25" type="xstring" value="pkgs/main"/>
                <entry key="26" type="xstring" value="pkgs/main"/>
                <entry key="27" type="xstring" value="pkgs/main"/>
                <entry key="28" type="xstring" value="pkgs/main"/>
                <entry key="29" type="xstring" value="pkgs/main"/>
                <entry key="30" type="xstring" value="pkgs/main"/>
                <entry key="31" type="xstring" value="pkgs/main"/>
                <entry key="32" type="xstring" value="pkgs/main"/>
                <entry key="33" type="xstring" value="pkgs/main"/>
                <entry key="34" type="xstring" value="pkgs/main"/>
                <entry key="35" type="xstring" value="pkgs/main"/>
                <entry key="36" type="xstring" value="pkgs/main"/>
                <entry key="37" type="xstring" value="pkgs/main"/>
                <entry key="38" type="xstring" value="pkgs/main"/>
                <entry key="39" type="xstring" value="pkgs/main"/>
                <entry key="40" type="xstring" value="pkgs/main"/>
                <entry key="41" type="xstring" value="pkgs/main"/>
                <entry key="42" type="xstring" value="pkgs/main"/>
                <entry key="43" type="xstring" value="pkgs/main"/>
                <entry key="44" type="xstring" value="pkgs/main"/>
                <entry key="45" type="xstring" value="pkgs/main"/>
                <entry key="46" type="xstring" value="pkgs/main"/>
                <entry key="47" type="xstring" value="pkgs/main"/>
                <entry key="48" type="xstring" value="pkgs/main"/>
                <entry key="49" type="xstring" value="pkgs/main"/>
                <entry key="50" type="xstring" value="pkgs/main"/>
                <entry key="51" type="xstring" value="pkgs/main"/>
                <entry key="52" type="xstring" value="pkgs/main"/>
                <entry key="53" type="xstring" value="pkgs/main"/>
                <entry key="54" type="xstring" value="pkgs/main"/>
                <entry key="55" type="xstring" value="pkgs/main"/>
                <entry key="56" type="xstring" value="pkgs/main"/>
            </config>
        </config>
        <config key="excluded_packages">
            <config key="names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="versions">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="builds">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="channels">
                <entry key="array-size" type="xint" value="0"/>
            </config>
        </config>
        <config key="environment_validation_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="environment_validation" type="xstring" value="name_packages"/>
        <config key="output_variable_name_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="output_variable_name" type="xstring" value="conda.environment"/>
        <config key="preserve_incomplete_environments_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="preserve_incomplete_environments" type="xboolean" value="false"/>
        <config key="source_operating_system_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="source_operating_system" type="xstring" value="windows"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.conda.nodes.envprop.CondaEnvironmentPropagationNodeFactory"/>
    <entry key="node-name" type="xstring" value="Conda Environment Propagation"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Conda"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.conda"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.0.v202303131610"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Conda Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.conda.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.0.v202303131610"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Conda Environment Propagation"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
