<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="script" type="xstring" value="import knime.scripting.io as knio%%00010#import geopandas as gpd%%00010import sys%%00010# This example uses an HTML string as the output view%%00010python_path = &quot;,&quot;.join(sys.path)%%00010knio.output_view = knio.view(&quot;&quot;&quot;&lt;!DOCTYPE html&gt;%%00010&lt;html&gt;%%00010    &lt;body&gt;%%00010        %s%%00010    &lt;/body&gt;%%00010&lt;/html&gt;%%00010&quot;&quot;&quot;%python_path)%%00010%%00010# Views can also be created from other objects like bytes containing a PNG or JPEG image,%%00010# or strings containing an SVG. Also, many objects that can be displayed in jupyter notebooks%%00010# can be displayed as an output view automatically. See the documentation of knio.view for%%00010# more information."/>
        <entry key="python3_command" type="xstring" value="C:\Users\xif626\AppData\Local\anaconda3\envs\knime_test"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="python3_command">
                <entry key="used_variable" type="xstring" value="conda.environment"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.python3.scripting.nodes.view.PythonViewNodeFactory"/>
    <entry key="node-name" type="xstring" value="Python View"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Python 3 - Scripting Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.python3.scripting.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.0.v202303131237"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Python Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.python3.scripting.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Input object (pickled)"/>
        <config key="Input table"/>
        <config key="Output image"/>
    </config>
    <entry key="name" type="xstring" value="Python View"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
